@using Activity3_1.Models

@model Tuple<List<Customer>,Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo"
    };
}

@using (Html.BeginForm("OnSelectCustomer", "Customer", ajaxOptions))
    {
    @Html.AntiForgeryToken();
        var selected = false;
        foreach (var customer in Model.Item1)
        {
            if (Model.Item2 == customer)
            {
                selected = true;
            }
            else
            {
                selected = false;
            }

        @Html.RadioButton("CustomerNumber", customer.ID, selected)
        @Html.Label(customer.Name);

        }

    <input type="submit" id="SubmitButton" value="Display Details"/>
}

<!--insert a partial page to display the customer details-->

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>