
@{
    ViewBag.Title = "FindVerseFailure";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

}

<div align="center">
<h2>Failure</h2>

<p>Oops! Something went wrong!</p>
<p>The Bible verse(s) that you are searching for was unable to be found!</p>

<p>
    <div>
        @Html.ActionLink("Back to Search", "Search")
    </div>
</p>
</div>