
@{
    ViewBag.Title = "NewVerseFailure";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

}

<div align="center">
<h2>Failure</h2>

<p>Oops! Something went wrong!</p>
<p>The creation of a new bible verse was unsuccessful!</p>

<p>
    <div>
        @Html.ActionLink("Back to Entry", "Entry")
    </div>
</p>
</div>